// Import page-specific CSS files here.
@import "home";

body {
  background-color: white;
  font-family: $body-font;
}

h1 {
  font-family: $headers-font;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}
