<div class="carousel">
  <div class="subtitle">Our Services</div>
  <h2 class="title home-services">Our team of dentists can help with a variety of dental services</h2>
  <div class="split-content home-services-right"><a href="/plans" class="button-primary w-button">Book an Appointment</a></div>
  <div class="container my-3">
      <div class="row mx-auto my-auto">
          <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item py-5 active">
                      <div class="row">
                          <div class="col-sm-3">
                              <div class="card">
                                <div class="card-body">
                                  <div class="image-container">
                                    <%= image_tag "estetica.svg", class: "img"%>
                                  </div>
                                  <h4 class="card-title">Estetica Dentale</h4>
                                  <p class="card-text">Alcune righe di spiegazione del servizio</p>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="card">
                                <div class="card-body">
                                  <div class="image-container">
                                    <%= image_tag "ortodonzia.svg", class: "img"%>
                                  </div>
                                  <h4 class="card-title">Ortodonzia</h4>
                                  <p class="card-text">Alcune righe di spiegazione del servizio</p>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="card">
                                <div class="card-body">
                                  <div class="image-container">
                                    <%= image_tag "igiene.svg", class: "img"%>
                                  </div>
                                  <h4 class="card-title">Igiene Dentale</h4>
                                  <p class="card-text">Alcune righe di spiegazione del servizio</p>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <div class="card">
                                <div class="card-body">
                                  <div class="image-container">
                                    <%= image_tag "tecnica.svg", class: "img"%>
                                  </div>
                                  <h4 class="card-title">Trattamento Dentale</h4>
                                  <p class="card-text">Alcune righe di spiegazione del servizio</p>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item py-5">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Card</h4>
                                  <p class="card-text">Some make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Card</h4>
                                  <p class="card-text">Some make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item py-5">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Card</h4>
                                  <p class="card-text">Some make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Card</h4>
                                  <p class="card-text">Some make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="carousel-item py-5">
                      <div class="row">
                          <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Card</h4>
                                  <p class="card-text">Some make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h4 class="card-title">Card</h4>
                                  <p class="card-text">Some make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <a class="carousel-control-prev text-dark" href="#myCarousel" role="button" data-slide="prev">
                  <span class="fa fa-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" href="#myCarousel" role="button" data-slide="next">
                  <span class="fa fa-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
  </div>
</div>
