<div class="cards">
  <div class="card-category">
    <img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/601dc37ba4434a50984876fc_icon-1-about-clinic-dentist-template.svg" alt="Contact Us - Dentist Webflow Template" class="image card-about-clinic-icon">
    <div class="card-content">
      <h2>Contattaci</h2>
      <div class="contact-detail">
        <a href="tel:+39 030 727 0427">+39 030 727 0427</a>
      </div>
      <div class="contact-detail">
        <a href="mailto:contact@dentist.com">contact@dentist.com</a>
      </div>
      <div class="contact-detail">
        <a href="#" class="link-book">Book an appointment</a>
      </div>
    </div>
  </div>
  <div class="card-category">
    <img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/601dc37bdf96448a34ccda21_icon-2-about-clinic-dentist-template.svg" alt="Clock Icon - Dentist Webflow Template" class="image card-about-clinic-icon">
    <div class="card-content">
      <h2>Orari apertura</h2>
      <div class="opening-detail">
        <p><span class="accent-text">Lunedi</span>: 9:00 - 19:00</p>
      </div>
      <div class="opening-detail">
        <p><span class="accent-text">Mercoledi</span>: 9:00 - 19:00</p>
      </div>
      <div class="opening-detail">
        <p><span class="accent-text">Giovedi</span>: 9:00 - 19:00</p>
      </div>
      <div class="opening-detail">
        <p><span class="accent-text">Venerdi</span>: 9:00 - 19:00</p>
      </div>
    </div>
  </div>
  <div class="card-category">
    <img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/601dc37bdf96448a34ccda21_icon-2-about-clinic-dentist-template.svg" alt="Clock Icon - Dentist Webflow Template" class="image card-about-clinic-icon">
    <div class="card-content">
      <h2>Orari apertura</h2>
      <div class="opening-detail">
        <p><span class="accent-text">Lunedi</span>: 9:00 - 19:00</p>
      </div>
      <div class="opening-detail">
        <p><span class="accent-text">Mercoledi</span>: 9:00 - 19:00</p>
      </div>
      <div class="opening-detail">
        <p><span class="accent-text">Giovedi</span>: 9:00 - 19:00</p>
      </div>
      <div class="opening-detail">
        <p><span class="accent-text">Venerdi</span>: 9:00 - 19:00</p>
      </div>
    </div>
  </div>
</div>
