.banner{
  display: flex;
}

.container-left{
  width: 50%;
  height: 100%;
  padding: 250px 50px 10px 50px;

  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 58px;
    line-height: 1.034em;
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  .btn {
    margin-right: 20px;
  }
}

.container-right {
  width: 50%;
  height: 100%;

  img {
    width: 100%;
  }
}
