.carousel {
  padding-left: 10x;
  padding-right: 10px;
}

.card {
  border-radius: 10px;
}

.card-body{

  .card-title {
    margin-top: 10px;
  }

  .image-container{
    width: auto;
    height: auto;

    .img {
      width: 100%;
      object-fit: cover;
    }

  }
}
