.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 28px 24px 28px 24px;
  border-bottom: 1px solid #efeef6;
  background-color: #fff;
  align-items: center;
  list-style: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  margin-right: 15px;
}

.button-container {
  display: flex;

  .btn {
    margin-right: 20px;
    padding: 20px;
  }
}

.nav-link#active {
  background-color: #f2f1fe;
  color: #5d4fff;
  font-weight: 700;
  border-radius: 8px;
}
